.App{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 169, 109);
    display: flex;
    flex-direction: column;
}

.inputs{
        display: flex;
        flex-direction: column; 
        margin-top: 20px;
        padding: 10px 10px;

}

.button-block{
    margin-top:20px;
    padding : 10px;
}

.no-account{
    grid: 10px;
}
